First section asks user for age and name, only accepts string for name and int for age.

Second section prints all numbers from 1 to 100 that include a 3.

Third section counts all even numbers backwards from 100.

Fourth section prints all prime numbers between 100 and 100.

In [69]:
name = '1234'
age = -1
check = 0

while(True):
  check+=1
  if check > 3:
    print('unacceptable')
    break

  name = input('please enter your name: ')
  age = input('please enter your age: ')

  if(age.isdigit() and all(x.isalpha() or x.isspace() for x in name) and (int(age) >= 0 and int(age) <= 100)):
    print('Acceptable')
    break

please enter your nameisaiah
please enter your age19
Acceptable

In [ ]:
for x in range(1, 100):
  val = str(x)
  for position in val:
    if position == '3':
      print(x)
      break

In [ ]:
for number in range(100,0,-1):
  if number % 2 == 0:
    print(number)

In [70]:
start = 100
end = 1000
  
for i in range(start, end+1):
  if i>1:
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i,end="|")

101|103|107|109|113|127|131|137|139|149|151|157|163|167|173|179|181|191|193|197|199|211|223|227|229|233|239|241|251|257|263|269|271|277|281|283|293|307|311|313|317|331|337|347|349|353|359|367|373|379|383|389|397|401|409|419|421|431|433|439|443|449|457|461|463|467|479|487|491|499|503|509|521|523|541|547|557|563|569|571|577|587|593|599|601|607|613|617|619|631|641|643|647|653|659|661|673|677|683|691|701|709|719|727|733|739|743|751|757|761|769|773|787|797|809|811|821|823|827|829|839|853|857|859|863|877|881|883|887|907|911|919|929|937|941|947|953|967|971|977|983|991|997|